<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Blog Uygulaması</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/css/style.css">
        @RenderSection("Styles",required: false);
</head>
    <body>
        <nav class="navbar navbar-expand-lg bg-white shadow-sm">
            <div class="container">
                <a href="/posts" class="navbar-brand">
                    <i class="bi bi-code"></i> Blog Uygulaması
                </a>
                <ul class="navbar-nav ms-auto">
                @if (User.Identity!.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">@User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Logout" asp-controller="User" class="nav-link">Çıkış Yap</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-action="Login" asp-controller="User" class="nav-link">Giriş Yap</a>
                    </li>
                }
            </ul>
            </div>
        </nav>
        <div class="container mt-3">
            @RenderBody()
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        @RenderSection("Scripts", required: false);
    </body>
    </html>